.sta-blood-td{
    vertical-align: middle;
    padding-left:1px;
}
.sta-blood-td div{
    padding-left:1px;
    padding-right:1px;
}
.sta-blood-refresh{
    background-image: url(../images/refresh.png);
}
.sta-blood-print{
    background-image: url(../images/print.png);
}
.sta-blood-excel{
    background-image: url(../images/excel.png);
}