.cms-shortcut {
    background-image: url(../images/cms-large.png);
}

.header-radius {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.cms-small {
    background-image: url(../images/cms-small.png);
}

.care-center-button {
    background-image: url(../images/care-center.png);
}