<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="lib/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript">
        var webRoot = '<%=webRoot%>';
        if(typeof JSON == 'undefined'){$('head').append($("<script type='text/javascript' src='lib/bootstrap/js/json2.js'>"));}
    </script>
</head>
<body>
<div class="commPage login" >
<script type="text/javascript">
    $(document).ready(function () {
        $("#loginBtn").click(function () {
            var options = {
                url: webRoot+'/login',
                type: 'post',
                dataType: 'text',
                data: $("#form1").serialize(),
                success: function (data) {
                    var result=JSON.parse(data);
                    if (result.data.login){
                        if(result.data.repeat){
                            alert('你的用户名和密码与其他人冲突，请输入电话以确认');
                            $("#phoneShow").css("display","inline");
                            var tableObj=document.getElementById('logintable');
                            var tr  = tableObj.insertRow(2);
                            tr.innerHTML='<tr>'+
                                    '       <td><div style="width: 100px;"> 联系方式：</div></td>'+
                                '       <td>'+
                                '<input type="text" name="phone" id="phone"/></td>'+
                                '</tr>';
                        }else{
                            alert('登录成功');
                            window.location.href=webRoot+'/welcome';
                        }
                    }else{
                        alert('登录失败，请核对用户名密码');
                    }

                }
            };
            $.ajax(options);
            return false;
        });
    });
</script>
<form id="form1" method="post">

    <table id="logintable" style="padding-top: 230px;padding-left: 550px;">

        <tr>
            <td><div style="width: 80px;">用户名:</div></td>
            <td>
                <input type="text" name="username" /></td>
        </tr>
        <tr>
            <td><div style="width: 80px;">密码:</div></td>
            <td>
                <input type="password" name="password" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <img src="/images/submit.png" id="loginBtn" style="cursor: pointer;padding-top: 10px;">
                尚未报名?<a href="/startsign">请点此</a>
                <p>忘记密码？<a href="/startloginother">请点此</a></p>
            </td>
        </tr>
    </table>

</form>

</div>
</body>
</html>