<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="lib/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript">
        var webRoot = '<%=webRoot%>';
        if(typeof JSON == 'undefined'){$('head').append($("<script type='text/javascript' src='lib/bootstrap/js/json2.js'>"));}
    </script>
</head>


<body>

<script type="text/javascript">
    var userInfo = '<%=userInfo%>';
    var webRoot = '<%=webRoot%>';
    var username="";

    $(document).ready(function () {
        if(userInfo==='undefined'){
        }else{
            //已登录
            userInfo = userInfo.replace(/&quot;/g,'"');
            userInfo = JSON.parse(userInfo);
            $("input#id").val(userInfo.id);
        }
        $("#btnAjaxSubmit").click(function () {
            var options = {
                url: webRoot+'/updatePassword',
                type: 'post',
                dataType: 'text',
                data: $("#form1").serialize(),
                success: function (data) {
                    var result=JSON.parse(data);
                    if (result.data.update){
                        alert('密码修改成功');
                        window.location.href=webRoot+'/welcome';
                    }else{
                        alert('密码修改失败，请核对旧密码是否输入正确');
                        //window.location.href=webRoot+'/welcome';

                    }

                }
            };
            $.ajax(options);
            return false;
        });
    });
</script>
<div class="commPage login" >
<form id="form1" method="post">
    <table border="0" class="loginTable" style="padding-top: 230px;padding-left: 550px;">
        <tr>
            <td>旧密码：</td>
            <td><input type="hidden" name="id" id="id" value="" />
                <input type="password" name="oldpassword" id="oldpassword" /></td>
        </tr>
        <tr>
            <td>新密码：</td>
            <td>
                <input type="password" name="password" id="password" /></td>
        </tr>
        <tr>
            <td>再次新输入：</td>
            <td>
                <input type="password" name="passwordagain" id="passwordagain" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <input id="btnAjaxSubmit" type="submit" value="修改密码" style="width: 80px;"/>
                <input type="reset" style="display:none;" />&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" value="返回"  style="width: 80px;"onclick="javascript:history.back(-1);">
            </td>
        </tr>
    </table>
</form>
<label id="responseText"></label>
    </div>
</body>

</html>