<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript">
        var webRoot = '<%=webRoot%>';
        var adminInfo = '<%=adminInfo%>';
    </script>

</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {
        if(adminInfo==='undefined'){
            alert('您尚未登录或登录信息错误，请重新登录');
            window.location.href=webRoot+'/admin';
        }
        /*$(function () {
            var options = {
                success: function (data) {
                    $("#responseText").text(data);
                }
            };

            $("#form1").ajaxForm(options);
            return false;
        });*/
        /*$("#queryloginlog").click(function () {
            window.location.href=webRoot+'/startloginlog';
            return false;
        });
        $("#querystudent").click(function () {
            window.location.href=webRoot+'/startstudent';
            return false;
        });*/
    });
    function checkFile(){
        var docm=document.getElementById('document').getValue();
        console.log(docm);
        alert('')
        return false;
    }
</script>
<form id="form1" action="/uploadFile" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>附件:</td>
            <td>
                <input type="file" name="document" id="document"/></td>
        </tr>
        <tr>
            <td colspan="2" style="align-content: center">
                <input type="submit" id="uploadId" value="上传" onclick="return checkFile()"/>
                <input type="reset" style="display:none;" />
            </td>
        </tr>
    </table>
</form>
<label id="responseText"></label>
<p><a id="download" href="/download">下载学生成绩</a> </p>
<p><a id="queryloginlog" href="/startloginlog">查询学生登录信息</a> </p>
<p><a id="querystudent" href="/startstudent">查询学生成绩信息</a> </p>
<p><a href="/logout?admin=1">退出</a> </p>
</body>
</html>