<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="lib/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript">
    if(typeof JSON == 'undefined'){$('head').append($("<script type='text/javascript' src='lib/bootstrap/js/json2.js'>"));}
    </script>
</head>
<body>
<script type="text/javascript">
    var userInfo = '<%=userInfo%>';
    var webRoot = '<%=webRoot%>';
    var username="";

    $(document).ready(function () {
        if(userInfo==='undefined'){
            alert('您尚未登录或登录信息错误，请重新登录');
            window.location.href=webRoot+'/index';
        }else{
            //已登录
            userInfo = userInfo.replace(/&quot;/g,'"');
            //$("#responseText").text(userInfo);
            userInfo = JSON.parse(userInfo);
            username=userInfo.name;
            $("#usernamePost").text(username);
        }
        $("#queryscore").click(function () {
            var options = {
                url: webRoot+'/queryscore',
                type: 'get',
                dataType: 'text',
                success: function (data) {
                    var result=JSON.parse(data);
                    if (result.data.length > 0){
                        var str="分数1: "+(result.data[0].SCORE1==null?"":result.data[0].SCORE1)+
                                "<br/>分数2: "+(result.data[0].SCORE2==null?"":result.data[0].SCORE2)+
                                "<br/>分数3: "+(result.data[0].SCORE3==null?"":result.data[0].SCORE3);

                        $("#responseText").html(str);
                    }

                }
            };
            $.ajax(options);
            return false;
        });
        $("#changesign").click(function () {
            window.location.href=webRoot+'/startupdate';
            return false;
        });
        $("#changepassword").click(function () {
            window.location.href=webRoot+'/startupdatePassword';
            return false;
        });
    });
</script>
<div class="commPage login">

    <div style="width:300px;padding-top: 200px;padding-left: 550px;">
<h3>欢迎回来:<label id="usernamePost"></label></h3>

        <div style="float: left;width: 150px;height: 100px;">
<p><a id="queryscore" href="#">查询成绩</a> </p>
<p><a id="changesign" href="#">修改报名信息</a> </p>
<p><a id="changepassword" href="#">修改密码</a> </p>
<p><a href="/logout">退出</a> </p>
            </div>
<div style="float: right;width: 100px;height: 100px;">
<label id="responseText"></label>
</div>
        </div>
    </div>
</body>
</html>