.settings-dept {
    background-image: url(../images/dept.png);
}

.x-grid-tree-node-expanded .settings-dept{
    background-image: url(../images/dept.png);
}

.ward {
	background-image: url(../images/ward.png);
}

.x-grid-tree-node-expanded .ward {
	background-image: url(../images/ward.png);
}

.role {
	background-image: url(../images/role.png);
}

.operating{
	background-image: url(../images/operating-room.png);
}

.icu-small{
	background-image: url(../images/icu-small.png);
}

.ok {
	background-image: url(../images/ok.png);
}

.data-refresh {
	background-image: url(../images/refresh.png);
}

.set-up {
	background-image: url(../images/set-up.png);
	background-color: white ;
}

.border-list{
	border-style: solid;
	border-width: 2px;
	border-color: #add2ed;
}

.data-passage {
	background-image: url(../images/data-passage.png);
}

.collect-project {
	background-image: url(../images/collect-project.png);
}

.cursor{
	cursor: pointer;
}

.state{
	cursor: default;
}

.circle-orange{
	background-image: url(../images/colors/circle-orange.png);
}
.circle-black{
	background-image: url(../images/colors/circle-black.png);
}
.circle-red{
	background-image: url(../images/colors/circle-red.png);
}
.circle-yellow{
	background-image: url(../images/colors/circle-yellow.png);
}
.circle-light-blue{
	background-image: url(../images/colors/circle-light-blue.png);
}
.circle-green{
	background-image: url(../images/colors/circle-green.png);
}
.circle-violet{
	background-image: url(../images/colors/circle-violet.png);
}
.circle-purple{
	background-image: url(../images/colors/circle-purple.png);
}
.circle-light-purple{
	background-image: url(../images/colors/circle-light-purple.png);
}
.sbp{
	background-image: url(../images/sbp.png);
}
.dbp{
	background-image: url(../images/dbp.png);
}
.pulse{
	background-image: url(../images/pulse.png);
}
.spont{
	background-image: url(../images/spont.png);
}
.fmmv{
	background-image: url(../images/fmmv.png);
}
.mibr-map{
	background-image: url(../images/mibr-map.png);
}
.cvp{
	background-image: url(../images/cvp.png);
}
.hr{
	background-image: url(../images/hr.png);
}
.tp{
	background-image: url(../images/tp.png);
}
.bp{
	background-image: url(../images/bp.png);
}
.tri{
    background-image: url(../images/tri.png);
}

.care-caretory {
	background-image: url(../images/care-caretory.png);
}

.x-grid-tree-node-expanded .care-caretory{
    background-image: url(../images/care-caretory.png);
}

.care-item {
	background-image: url(../images/care-item.png);
}

.x-grid-tree-node-expanded .care-item{
    background-image: url(../images/care-item.png);
}

.protocol{
    background-image: url(../images/protocol.png);
}