.sim-shortcut {
    background-image: url(../images/sim-large.png);
}

.sim-small {
    background-image: url(../images/sim-small.png);
}

.progressbar {
    background-image: url(../images/progressbar.png);
}
.progressbar-1 {
    background-image: url(../images/progressbar-1.png);
}