.icon-refresh {
    background-image: url(../images/refresh.png);
}
.icon-copy {
    background-image: url(../images/copy.png);
}
.icon-consent {
    background-image: url(../images/consent.png);
}

.icon-property {
     background-image: url(../images/property.png);
 }
.icon-property-group {
    background-image: url(../images/property-group.png)!important;
}
.icon-right {
    background-image: url(../images/right.png);
}
.icon-submmit {
    background-image: url(../images/submmit.png);
}
.shift-submit{
    background-image: url(../images/shift-submit.png);
}
.icon-remove {
    background-image: url(../images/remove.png);
}
.icon-save {
    background-image: url(../images/save.png);
}
.icon-care-content {
    background-image: url(../images/care-content.png);
}
.icon-care-scores {
    background-image: url(../images/care-scores.png);
}
.icon-care-record-column-css{
    border-right:1px solid #C0C0C0;
}
.care-record-column{
    text-align: center;
}

.care-record-column div{
    padding-left:1px;
    padding-right:1px;
}
.care-combo-list-color{
    background-color: #F9BE7A;
    #background:rgba(255,136,00,0.5);
    #opacity: .5;
}