.grade {
    background-image: url(../images/grade.png);
}

/*.x-splitter-collapsed .x-layout-split-left{*/
    /*background-image:url(../images/mini-right.gif);*/
/*}*/
/*.x-layout-split-left{*/
    /*background-image:url(../images/mini-left.gif);*/
/*}*/
.order-refresh{
    background-image: url(../images/refresh.png);
}
.ico-help{
    background-image: url(../images/help.png);
}
.ico-count{
    background-image: url(../images/count.png);
}
.ico-mallampati{
    background-image: url(../images/mallampati.png);
}