td {
    background-color: white;
}

.vitalSignTable {
    border-collapse: collapse;
    width: 100%;
}

.vitalSignTd {
    border: solid 1px darkgreen;
}

.vitalSignFirstRowTd {
    border-top: none;
}

.vitalSignColumn1 {
    width: 22px;
    font-size: 14px;
    text-align: center;
    border-left: none;
    word-break:break-all;
    word-wrap:break-word;
}

.vitalSignColumn2 {
    width: 130px;
    padding: 0 0 0 0px;
}

.vitalSignLegendTitle {
    font-weight: bold;
    font-size: 9px;
    text-align: center;
    height: 10px;
    vertical-align: top;
}

.vitalSignLegendCell {
    font-size: 9px;
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.vitalSignLegendCellFirstRow {
    height: 12px;
}

.vitalSignLegendCellLastRow {
    height: 10px;
}

.vitalSignLegendCellMiddleRow {
    height: 22px;
}

.vitalSignLegendCellColumn1 {
    padding-right: 10px;
}

.vitalSignLegendCellColumn2 {
    width: 25px;
}

.vitalSignLegendCellColumn4 {
    width: 25px;
    text-align: center;
}

.vitalSignLegendCellColumn3 {
    width: 28px;
    padding: 0 5 0 0px;
}

.consciousnessLengendCell {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
}

.consciousnessLengendSplitCell {
    border-top: none;
    border-right: none;
    font-size: 14px;
}

.ganttCell{
    height: 22px;
}

.ganttTdTableCell{
    height: 21px;
}

.consciousnessLengendMergeCell {
    width: 22px;
    text-align: center;
}

.consciousnessLengendBottomCell {
    border-bottom: none;
}

.consciousnessLengendStarCell {
    text-align: right;
    width: 10px;
}

.gatherCell {
    border-top: none;
    border-left: none;
    text-align: center;
    font-size: 14px;
}

.gatherCellFont {
    text-align: center;
    font-size: 14px;
}

.gatherBottomCell {
    border-top: none;
    border-left: none;
    border-bottom: none;
    width: 50px;
}

.cellColor {
     background-color: #F2F2F2;
}

.noPresetCellColor {
    background-color: #99CCFF;
}

.timeline {
    font-size: 14px;
    border: solid 1px darkgreen;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.cellPadding {
    padding: 0 0 0 0px;
}

.canvasPadding {
    padding: 0 0 0 0px;
}

.transparent_class {
    filter:alpha(opacity=70,finishopacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    border: 1px solid #669900;
    background: #99CC00;
}

.temperatureCell {
    color: #FF0000;
}

.currBeginDateDiv {
    position: absolute;
    zIndex: 999;
    height: 20px;
    width: 80px;
    font-size: 12px;
}

.labelDiv {
    position: relative;
    top: -8px;
    text-align: right;
}

.labelTitleDiv {
    position: relative;
    top: -2px;
    text-align: right;
}

.edit {
    background-image: url(../images/edit.png);
}

.back {
    background-image: url(../images/back.png);
}

.delete {
    background-image: url(../images/delete.png);
}