.nws-shortcut {
     background-image: url(../images/nws-large.png);
}

.nws-small {
    background-image: url(../images/nws-small.png);
}

.bed-manager-button {
    background-image: url(../images/bed-manager.png);
}

.doctor-order-management-button {
    background-image: url(../images/doctor-order-management.png);
}

.nursing-record-button {
    background-image: url(../images/nursing-record.png);
}

.critical-care-button {
    background-image: url(../images/critical-care.png);
}

.temperature-button {
    background-image: url(../images/temperature.png);
}

.valuation-button {
    background-image: url(../images/valuation.png);
}

.start-button {
    background-image: url(../images/start.png);
}

.communication-button {
    background-image: url(../images/communication.png);
}

.care-setting-button {
    background-image: url(../images/care-setting.png);
}

.medical-record-button {
    background-image: url(../images/medical-record.png);
}

.doctor-order-button {
    background-image: url(../images/doctor-order.png);
}
.icu-visit-button {
    background-image: url(../images/icu-visit.png);
}

.checkout-button {
    background-image: url(../images/checkout.png);
}

.preoperative-interview-button {
    background-image: url(../images/preoperative-interview.png);
}

.anesthesia-note-button {
    background-image: url(../images/anesthesia-note.png);
}

.image-button {
    background-image: url(../images/image.png);
}

.postoperative-interview-button {
    background-image: url(../images/postoperative-interview.png);
}

.electrocardio-button {
    background-image: url(../images/electrocardio.png);
}
.blood-gas-analy {
    background-image: url(../images/blood_gas_analiysis.png);
}
.operation-nursing-button {
    background-image: url(../images/operation-nursing.png);
}

.refresh-button {
    background-image: url(../images/refresh.png);
}

.day-before-button {
     background-image: url(../images/day-before.png);
}

.day-after-button {
    background-image: url(../images/day-after.png);
}

.hour-before-button {
    background-image: url(../images/hour-before.png);
}

.hour-after-button {
    background-image: url(../images/hour-after.png);
}

.patients-details {
    background-image: url(../images/patients-details.png);
}

.nwsLargeButton .x-btn-inner{
    font-size: 12px;
    padding: 27 0px;
}

.bedTable {
    border-collapse: collapse;
    width: 100%
}

.bedCell {
    border: solid 1px #999999;
    border-left: none;
    border-right: none;
    height: 22px;
    background-color: #F2F2F2;
}

.nameCell {
    border: solid 1px #999999;
    border-left: none;
    height: 22px;
    background-color: #F2F2F2;
    font-size: 18px;
    text-align: center;
    width: 60px;
}

.nameDiv {
    width: 60px;
    cursor: pointer;
    color: blue;
    text-decoration:none;

    Max-Height: 40px;
    word-break: break-all;

    float:left;
}

.nameDiv:hover {
    text-decoration:underline;
}

.bedLeftTd {
    background-color: #FF8833;
    text-align: center;
    width: 40px;
    color: #FFFFFF;
    font-size: 10px;
}

.subBedNo {
    font-size: 12px;
}

/*展开缩进按钮*/
.split {
    overflow: hidden;
    width: 29px;
    height: 17px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0;
}

.normal {
    background-image: url('../images/normal.png');
}

.normal:hover {
    background-image: url('../images/mouseover.png');
}

.normal:active {
    background-image: url('../images/mousedown.png');
}

.downnormal {
    background-image: url('../images/downnormal.png');
}

.downnormal:hover {
    background-image: url('../images/downmouseover.png');
}

.downnormal:active {
    background-image: url('../images/downmousedown.png');
}

.limitdiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-care-scores {
    background-image: url(../images/care-scores.png);
}
.doctorLogdiv {
    border:1px solid #e1e1e1;
    margin: 5px;
    height: 59px;
    background:#f5f5f5;
    overflow-x:hidden;
    overflow-y:auto;
    white-space:nowrap;
    text-overflow:ellipsis;
    line-height: 20px;
    padding:5px;
}
.nwswarningdiv {
    border:1px solid #e1e1e1;
    margin: 5px;
    height: 59px;
    background:#f5f5f5;
    overflow-x:hidden;
    overflow-y:auto;
    white-space:nowrap;
    text-overflow:ellipsis;
    line-height: 20px;
    padding:5px;
}
.x-grid-cell.font {
    font-family: '宋体';
}

.up{
    background-image: url(../images/up.png);
}
.down{
    background-image: url(../images/down.png);
}
.ys{
    height:19px;
    padding:0;
    margin:0;
    cursor:pointer;
}
.ys:hover{
    color:#fd6640;
    text-decoration:underline;
    cursor:pointer;}