.refresh-button {
    background-image: url(../images/refresh.png);
}

.print-button {
    background-image: url(../images/print.png);
}
.consent-button {
    background-image: url(../images/consent.png);
}
.export-button {
    background-image: url(../images/export.png);
}
.nws-critical-td-css{
    vertical-align: middle;
    white-space: pre-wrap;
}
.nws-critical-td-css div{
    padding-left:1px;
    padding-right:1px;
    white-space: pre-wrap;
    overflow: hidden;
}