.bedmanagement {
    background-image: url(../images/bedmanagement.png);
}

.locate {
	background-image: url(../images/locate.png);
}

.add {
	background-image: url(../images/add.png);
}

.care-setup {
	background-image: url(../images/care-setup.png);
}

.change-bed {
	background-image: url(../images/change-bed.png);
}

.out-dept {
	background-image: url(../images/out-dept.png);
}

.icu-doing {
	background-image: url(../images/icu-doing.png);
}

.icu-idle {
	background-image: url(../images/icu-idle.png);
}

.template-submit {
    background-image: url(../images/submit.png);
}

.save-as {
    background-image: url(../images/save-as.png);
}

.dying {
    background-image: url(../images/dying.png);
}

.Ill {
    background-image: url(../images/Ill.png);
}

.mild-disease {
    background-image: url(../images/mild-disease.png);
}

.select-bed {
	background-image: url(../images/select-bed.png);
}

.cursor {
	cursor: pointer;
}

.background-dying {
	background: rgba(153, 51, 204, 0.3) !important;
}

.background-Ill {
	background: rgba(204, 0, 0, 0.3) !important;
}

.background-mild-disease {
	background: rgba(0, 153, 204, 0.3) !important;
}

.auto-vital-signs {
	background-image: url(../images/auto-vital-signs.png);
}

.pre-project {
	background-image: url(../images/pre-project.png);
}

.display-center {
	background-image: url(../images/display-center.png);
}

.care-parent {
	background-image: url(../images/care-parent.png);
}

.x-grid-tree-node-expanded .care-parent{
    background-image: url(../images/care-parent.png);
}

.care-child {
	background-image: url(../images/care-child.png);
}

.x-grid-tree-node-expanded .care-child{
    background-image: url(../images/care-child.png);
}

.alert-condition {
	background-image: url(../images/alert-condition.png);
}

.clean {
	background-image: url(../images/clean.png);
}

.alert-value-button .x-btn-inner{
    font-size: 14px;
    padding: 0 0px;
}

.border-location {
	outline:none;
	border-color: #FF8800;
    box-shadow:0 0 4px 4px #FF8800;
}

.bed-item-name {
	text-decoration: none; 
	color: black;
}

a.bed-item-name:hover {
	text-decoration: underline; 
	color: blue;
}