.sta-shortcut {
    background-image: url(../images/sta-large.png);
}
.sta-small{
    background-image: url(../images/sta-small.png);
}

/*--树节点禁用--*/
.dvp-tree-node-disabled .x-grid-cell {
    -moz-opacity: 0.5;
    opacity: .5;
    filter: alpha(opacity=50);
}