.refresh-button {
    background-image: url(../images/refresh.png);
}

.print-button {
    background-image: url(../images/print.png);
}

.export-button {
    background-image: url(../images/export.png);
}