.dtm-accessibility-save{
    background-image: url(../images/save.png);
}
.dtm-accessibility-add{
     background-image: url(../images/add.png);
 }
.dtm-accessibility-delete{
    background-image: url(../images/delete.png);
}
.dtm-accessibility-down{
    background-image: url(../images/down.png);
}
.dtm-accessibility-up{
    background-image: url(../images/up.png);
}
.dtm-accessibility-refresh{
    background-image: url(../images/refresh.png);
}
.dtm-accessibility-print{
    background-image: url(../images/print.png);
}
.dtm-accessibility-excel{
    background-image: url(../images/excel.png);
}
.dtm-grid-td{
    vertical-align: middle;
    background-color: #FFF !important;
}
.dtm-consumable-column-css{
    border-right:1px solid #C0C0C0;
}

.category-list{
    border-top:0px;
    border-right:1px solid #157fcc;
    border-left:1px solid #157fcc;
    border-bottom:1px solid #157fcc;
    padding:0px;
    margin:0px ;
}