.sta-shortcut {
    background-image: url(../images/sta-large.png);
}
.dmi-small{
    background-image: url(../images/dmi-small.png);
}
.dmi-small-toolbar{
    background-image: url(../images/dmi-small-toolbar.png);
}