.aam-shortcut {
    background-image: url(../images/aam-large.png);
}

.aam-small {
    background-image: url(../images/aam-small.png);
}


.his-sync {
    background-image: url(../images/his-sync.png);
}

.calendarview {
    background-image: url(../images/calendar.png);
}

.handcraft {
    background-image: url(../images/manual-scheduling.png);
}

.noopsyche {
    background-image: url(../images/auto-scheduling.png);
}

.notification {
    background-image: url(../images/notification.png);
}

.locationto {
    background-image: url(../images/locate-to.png);
}

.calendarnext {
    background-image: url(../images/calendar-next.png);
}

.calendarprev {
    background-image: url(../images/calendar-prev.png);
}

.su-request-large, .us-request-large {
    background-image: url(../images/request-large.png);
}

#su-request-view .su-request, #us-request-view .us-request{
    background: transparent;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #su-request-view .su-request, .x-quirks #us-request-view .us-request {
    padding-bottom: 3px;
}

#su-request-view .su-request-title, #us-request-view .us-request-title {
    height: 17px;
    width: 48px;
    border: 1px solid #bbbbbb;
    background-color: #efefef;
    margin: 0 auto;
    margin-bottom: -1px;
    font-weight: bold;
    cursor: default;
}

#su-request-view .su-request img, #us-request-view .us-request img {
    height: 48px;
    width: 48px;
}
#su-request-view .su-request-wrap, #us-request-view .us-request-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    text-align: center;
}
#su-request-view .su-request-wrap span, #us-request-view .us-request-wrap span {
    display: inline;
    overflow: hidden;
    text-align: center;
    cursor: default;
    width: 86px; /* for ie to ensure that the text is centered */
}

#su-request-view .x-item-over, #us-request-view .x-item-over {
    border:1px solid #dddddd;
    background: #efefef url(../../../images/over.gif) repeat-x left top;
    padding: 4px;
}

#su-request-view .x-item-selected,#us-request-view .x-item-selected {
    background: #eff5fb url(../../../images/selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#su-request-view .x-item-selected .su-request, #us-request-view .x-item-selected .us-request{
    background:transparent;
}

#su-request-view .loading-indicator, #us-request-view .loading-indicator {
    font-size:11px;
    background-image:url('../../../lib/extjs/resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
