.dws-shortcut {
    background-image: url(../images/dws-large.png);
}
.dws-small{
    background-image: url(../images/dws-small.png);
}
.dwsLargeButton .x-btn-inner{
    font-size: 12px;
    padding: 27 0px;
}
.dws-tutelage-center{
    background-image: url(../images/tutelage-center.png);
}
.dws-doctor-order-management-button {
    background-image: url(../images/doctor-order-management.png);
}
.dws-critical-care-button {
     background-image: url(../images/critical-care.png);
 }
.dws-temperature-button {
    background-image: url(../images/temperature.png);
}
.dws-icon-care-scores {
    background-image: url(../images/care-scores.png);
}
.dws-valuation-button {
    background-image: url(../images/valuation.png);
}
.dws-medical-record-button {
    background-image: url(../images/medical-record.png);
}
.dws-checkout-button {
    background-image: url(../images/checkout.png);
}
.dws-preoperative-interview-button {
    background-image: url(../images/preoperative-interview.png);
}
.dws-anesthesia-note-button {
    background-image: url(../images/anesthesia-note.png);
}
.dws-image-button {
    background-image: url(../images/image.png);
}
.dws-postoperative-interview-button {
    background-image: url(../images/postoperative-interview.png);
}
.dws-doctor-order-button {
    background-image: url(../images/doctor-order.png);
}
.dws-electrocardio-button {
    background-image: url(../images/electrocardio.png);
}
.dws-operation-nursing-button {
    background-image: url(../images/operation-nursing.png);
}
.dws-warningdiv {
    border:1px solid #e1e1e1;
    margin: 5px;
    font-size: 12px;
    height: 56px;
    background:#f5f5f5;
    overflow-x:hidden;
    overflow-y:auto;
    white-space:nowrap;
    text-overflow:ellipsis;
    line-height: 20px;
    padding: 0px;
}
.cms-warningdiv {
    border:1px solid #e1e1e1;
    margin: 5px;
    height: 59px;
    background:#f5f5f5;
    overflow-x:hidden;
    overflow-y:auto;
    white-space:nowrap;
    text-overflow:ellipsis;
    line-height: 20px;
    padding: 0px;
}